<p>inscription works!</p>

<div class="form"></div>
  <h1>Inscription</h1>
  <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name" formControlName="name" required>

      <label for="lastname">Prenom</label>
      <input type="text" class="form-control" id="lastname" formControlName="lastname" required>

      <label for="username">Nom d'utilisateur</label>
      <input type="text" class="form-control" id="username" formControlName="username" required>

      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" required>

      <label for="phoneNumber">Numero de telephone</label>
      <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" required>

      <label for="NumeroDePermis">Numero de permis</label>
      <input type="text" class="form-control" id="NumeroDePermis" formControlName="permisNumber" required>

      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" formControlName="password" required>

      <label for="address">Adresse</label>
      <input type="text" class="form-control" id="address" formControlName="address" required>

      <button class="btn btn-primary" type="submit">S'inscrire</button>
    </div>
  </form>

