<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
<body *ngIf="!isLoading">





    <div class="container">
      <div class="item item1" >
        <div (click)="goToBookingVille()" class= itemText>
        <h1><i>LOUE TA VOITURE</i></h1>
        <p>Site de location en ligne, à porté de main</p>
         <a >louer</a>


        </div>
      </div>
      <div class="item item2" >

        <h1> Parraine  un ami</h1>
        <p>Invitez vos amis à louer une voiture et gagnez des réductions</p>
        <div class="item-Detail">
          10% de réduction pour chaque ami parrainé
        </div>
      </div>

      <div class="item item3" >
        <h1>Assurance</h1>
        <p>Assurance tout risque pour une location en toute sécurité</p>
          <div class="item-Detail">
            franchise et caution réduite !
          </div>
      </div>

      <div class="item item4" >
        <h1>Service client</h1>
        <p>Service client disponible 24h/24 et 7j/7</p>
         <div class="item-Detail">
          Appeler le 00 00 00 00
         </div>
      </div>




      </div>


    <footer>
      <div class="footer-container">
        <div class="footer-item">
          <div class="footer-title">
          <h1>ABOULOCATION</h1>
        </div>
        </div>



        <div class="footer-item">
          <div class="footer-title">
          <h1>Contacts</h1>
          </div>
          <ul>
            <li><a href="#">00 00 00 00</a></li>
            <li><a href="#">

              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>

            </a>
          </li>
            </ul>

          </div>

      </div>
    </footer>


    </body>
