* {
  font-family: 'Staatliches', cursive;
}

body {
  padding-top: 0;
  margin: 0 0 0 0;

  position: relative;
  width: 100%;

}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 5px solid rgba(180, 74, 237, 0.5); /* Couleur violette avec transparence */
  border-top: 5px solid #7200fd; /* Couleur violette plus foncée pour l'effet de rotation */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animation de rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container
{
  border: 5px solid #b402b1;
  border-radius: 20px;
  background-color: #f8f9fa;
  margin-top: 20px;
}
.container h2{
  color: #b402b1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.container:hover{
box-shadow: 0 0 10px #3a0039;
}

.item {
  margin: 10px;
}
.carte {
  border: 2px solid #b402b1;
  border-radius: 10px;
  background-color: #f8f9fa;
  padding: 10px;
  margin-top: 20px;

  font-family: 'Staatliches', cursive;
}

.carte:hover {
  box-shadow: 0 0 10px #3a0039;
}
.btn-primary
{

  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

 .btn-second {
  background-color: #b402b1;
  color: white;
  border: 2px solid #b402b1;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 768px) {
  *{
    background-color: #f8f9fa;
  }
  .container {
    width: 80%;
    margin: 10px;
    box-shadow: 0 0 10px #3a0039;
  }

  .btn-primary {
    background-color:rgb(79, 54, 204);

    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;

  }

  .btn-danger {
    background-color: red;
    color: white;
    border: 2px solid #b402b1;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
  }
}
