<p>profile works!</p>


<div class ="container">
 <div class="item item1">
   <div *ngIf="user" class="col-md-6">
     <h2>Informations personnelles</h2>
     <p>Nom: {{user.lastname}}</p>
     <p>Prenom: {{user.name}}</p>
     <p>Email: {{user.email}}</p>
     <p>Adresse: {{user.address}}</p>
     <p>Code postal: {{user.postalCode}}</p>
     <p>Telephone: {{user.phoneNumber}}</p>
     <p> Numero de permis  {{user.permisNumber}}</p>
   </div>
    <div>
      <button class="btn btn-primary" >Modifier</button>
      <button class="btn btn-danger" (click)="logout()" >Deconnexion</button>
    </div>
 </div>
  <div class="item item2">
    <button class="btn btn-primary" (click)="getReservations()" >Mes reservations</button>
    <div *ngIf="resa" class="col-md-6">
      <h2>Mes reservations</h2>
      <div *ngFor="let res of resa">
        <p>Voiture: {{res.vehicule}} </p>
        <p>Date de debut: {{res.dateDebut}}</p>
        <p>Date de fin: {{res.dateFin}}</p>




 </div>


