* {
  font-family: 'Staatliches', cursive;
}

body {
  padding-top: 0;
  margin: 0 0 0 0;

  position: relative;
  width: 100%;

}

.container
{
  border: 5px solid #b402b1;
  border-radius: 5px;

}
.container h2{
  color: #b402b1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.container:hover{
box-shadow: 0 0 10px #3a0039;
}

.item {
  margin: 10px;
}
