<p></p>
<div class = "container">
  <div class="card-deck">
    <div *ngFor="let vehicule of vehiculesList" class="row col-sm-12 col-md-6 col-lg-4" >

  <div class="carte"  >
  <img class="card-img"   [src]="vehicule.picture" alt="image vehicule">

  <div class="carte-body">
    <h5 class="card-title">{{vehicule.modele }}</h5>
    <p class="card-text">  {{vehicule.pricePerDay }} $ </p>

    <a (click)="goToContrat(vehicule)" class="btn btn-primary" >louer</a>

  </div>
</div>
</div>
</div>
</div>
