* {

  font-family: 'Staatliches', cursive;

}
.container {
  margin-top: 2rem;
}

.btn-primary {
  background-color:rgb(79, 54, 204);

  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;

}

.btn-primary:hover {
  background-color: rgb(60, 40, 150);
  cursor: pointer;
}
