

<div  class="container" >
  <h1>Recapitulatif de la location</h1>
  <div  >
       <div *ngIf="vehicule" class="col-md-6">
         <h2>Informations sur le vehicule </h2>
           <p>Marque:{{vehicule.make}} </p>
           <p>Modele: {{vehicule.modele}}</p>
           <p>Immatriculation:{{vehicule.immatriculation}} </p>


        </div>
         <div class="col-md-6">
           <h2>Informations sur la location</h2>
             <p>Date de debut: {{DateDebutLocation}}</p>
             <p>Date de fin: {{DateFinLocation}}</p>
             <p>Nombre de jour:{{DureeLocation}} </p>
              <p>Prix total:{{TotalPrice}} </p>

            </div>




      <div class="col-md-6">
        <h2>Choix de l'assurance</h2>
        <button *ngIf="showAssuranceButton" (click)="GetAssurance()" class="button">Choisir une assurance</button>

          <form [formGroup]="ChooseAssurance" >
            <div *ngFor="let assurance of assurances">
              <input type="radio" [formControlName]="'assurance'" [value]="assurance._id" id="{{assurance._id}}">
              <label [for]="assurance._id">{{assurance.name}}</label>
            </div>
            <div>
              <button type="submit" (click)="onSubmit()" class="button">Payer</button>
            </div>
          </form>
        </div>
      </div>
      </div>




